.broadcast {
  position: fixed;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  color: $color-light;
  border-radius: 10rem;
  display: none;
  backface-visibility: hidden;

  @include media-queries(atMediumLarge) {
    display: block;
  }

  &--main {
    background-color: $color-main;
  }

  &__text {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: $font-medium;
    letter-spacing: 1px;
    color: $color-sub;
    margin-top: -1.4rem;
    padding: 3rem 6rem 5rem 9.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 2.2rem;
    left: 5rem;
    top: 1.5rem;
    position: absolute;
    fill: $color-sub;
    animation: anim-pulse 0.9s ease-in-out 2s infinite;
  }

  &__slide-down {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
}
