.call2action {
  background-color: $color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;

  .call2action-box {
    flex-basis: 70%;
    &__title {
      color: $color-main;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 0.8rem;
    }

    &__info {
      font-size: 1.3rem;
      color: $color-dark-gray;
    }
  }
}
