.desktop-nav {
  text-align: right;
  padding: 2.5rem 0;
  display: none;

  @include media-queries(atMediumLarge) {
    display: block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    @include media-queries(atMediumLarge) {
      &:not(:last-child) {
        margin-right: 3.5rem;
      }
    }
  }

  &__link {
    color: $color-sub;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-dark-gray;
    }
  }

  &--scrolled {
    .desktop-nav {
      &__item--c2a .button {
        color: $color-main;
        background-color: $color-sub;

        & > svg {
          fill: $color-main;
        }
      }
    }
  }
}
