*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

html{
    font-size: 57.5%;
    text-rendering: optimizeLegibility;

    @include media-queries(atMedium) {
        font-size: 60%;
    }

    @include media-queries(atLarge) {
        font-size: 62.5%;
    }
}

body{

    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: $font-regular;
}