.content-box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none;
  opacity: 0;
}

.visible {
  visibility: hidden !important;
  opacity: 0 !important;
}

.not-yet {
  cursor: not-allowed;
  pointer-events: none;
}
