$color-main: #3dbda9;
$color-sub: #22243b;
$color-bg: #f6fffe;
$color-dark: #525252;
$color-gray: #cecece;
$color-light: #e7e6e5;
$color-white: #fefefe;

$font: 'Poppins', Arial, Helvetica, sans-serif;
$font-light: 400;
$font-regular: 500;
$font-medium: 600;
$font-bold: 800;

$sec-ptb-lg: 10rem 0;
$sec-ptb-md: 7.2rem 0;
$sec-ptb-sm: 4.8rem 0;
