$color-main: #3dbda9;
$color-bg: #f3fffe;
$color-sub: #525252;
$color-dark-gray: #727272;
$color-gray: #cecece;
$color-light: #f5f5f5;
$color-white: #fefefe;
$color-footer-bg: #21233a;

$font: "Poppins", Arial, Helvetica, sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 800;

$sec-ptb-lg: 10rem 0;
$sec-ptb-md: 7.2rem 0;
$sec-ptb-sm: 4.8rem 0;

$shadow: 1rem 1rem 2.5rem rgba($color-sub, 0.1);

$preloader-tf: cubic-bezier(0.21, 0.98, 0.6, 0.99);

// Player
:root {
  --plyr-color-main: #3dbda9;
}
