$color-main: #3DBDA9;
$color-sub: #22243B;
$color-bg: #F6FFFE;
$color-dark: #525252;
$color-gray: #CECECE;
$color-light: #E7E6E5;
$color-white: #FEFEFE;

$font: 'Manrope', Arial, Helvetica, sans-serif;
$font-light: 400;
$font-regular: 500;
$font-medium: 600;
$font-bold: 800;

$section-padding: 8rem 0;