.instructor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  &__info {
    line-height: 1;
    flex-basis: 100%;

    @include media-queries(atMediumLarge) {
      flex-basis: 45%;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $color-dark-gray;
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  &__intro {
    text-transform: uppercase;
    color: $color-sub;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__name {
    color: $color-main;
    font-size: 4rem;
    font-weight: $font-bold;
    margin-bottom: 3rem;

    @include media-queries(atMediumLarge) {
      font-size: 4.8rem;
    }
  }

  &__msg {
    font-size: 1.3rem;
    line-height: 1.8;
    color: $color-dark-gray;
    text-align: justify;
  }

  &__social {
    margin-top: 3rem;
  }

  &__img {
    background-color: $color-light;
    padding: 10rem;
    padding-bottom: 0;
    flex-basis: 100%;
    margin-bottom: 5rem;

    @include media-queries(atMediumLarge) {
      flex-basis: 42%;
      margin-bottom: 0rem;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.video-sec {
  margin: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  &__box {
    background-color: $color-main;
    padding: 0.5rem;
    box-shadow: $shadow;
    flex-basis: 100%;

    @include media-queries(atMediumLarge) {
      flex-basis: 45%;
    }
  }

  &__info {
    flex-basis: 100%;
    margin-bottom: 3rem;

    @include media-queries(atMediumLarge) {
      flex-basis: 50%;
      margin-bottom: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $color-main;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__details {
    font-size: 1.3rem;
    line-height: 1.8;
    color: $color-dark-gray;
    text-align: justify;
  }
}