.instructor {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    flex-basis: 45%;
    line-height: 1;
  }

  &__title {
    text-transform: uppercase;
    color: $color-dark-gray;
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  &__intro {
    text-transform: uppercase;
    color: $color-sub;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__name {
    color: $color-main;
    font-size: 4.8rem;
    font-weight: $font-bold;
    margin-bottom: 3rem;
  }

  &__msg {
    font-size: 1.3rem;
    line-height: 1.8;
    color: $color-dark-gray;
  }

  &__social {
    margin-top: 3rem;
  }

  &__img {
    flex-basis: 42%;
    background-color: $color-light;
    padding: 10rem;
    padding-bottom: 0;
    img {
      display: block;
      width: 100%;
    }
  }
}

.video-sec {
  margin: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__box {
    flex-basis: 45%;
    background-color: $color-main;
    padding: 0.5rem;
    box-shadow: $shadow;
  }

  &__info {
    flex-basis: 50%;
  }

  &__title {
    text-transform: uppercase;
    color: $color-main;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__details {
    font-size: 1.3rem;
    line-height: 1.8;
    color: $color-dark-gray;
  }
}

.yogapose {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8rem;
  margin-bottom: -5rem;

  .yogapose-box {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 5rem;
    background-color: $color-light;

    @include media-queries(atMedium) {
      flex-basis: 48%;
    }

    @include media-queries(atLarge) {
      flex-basis: 23%;
    }

    &__icon {
      background-color: $color-bg;
      img {
        padding-top: 3rem;
        height: 13rem;
        bottom: 0;
      }
    }

    &__info {
      margin-top: 1rem;
      padding: 2rem;
    }

    &__title {
      color: $color-main;
      margin-bottom: 1rem;
    }

    &__details {
      font-size: 1.2rem;
      color: $color-dark-gray;
      text-align: justify;
    }
  }
}
