.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__info {
    flex-basis: 100%;
    margin-bottom: 3rem;

    @include media-queries(atMediumLarge) {
      flex-basis: 40%;
      margin-bottom: 0;
    }
  }

  &__map {
    flex-basis: 100%;

    @include media-queries(atMediumLarge) {
      flex-basis: 55%;
    }

    & > iframe {
      width: 100%;
      height: 420px;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $color-main;
    text-transform: uppercase;
    min-width: 30rem;
    max-width: 60%;
  }

  &__phone,
  &__mail,
  &__address {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-weight: $font-medium;
    color: $color-dark-gray;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    span:first-child {
      margin-right: 1rem;
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50%;
    background-color: $color-bg;

    & > svg {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      fill: $color-main;
    }
  }
}
