.footer {
  padding-bottom: 8rem;

  @include media-queries(atMediumLarge) {
    padding-bottom: 0rem;
  }

  .footer-bg {
    position: relative;

    &__title {
      font-weight: $font-bold;
      font-size: 4.6rem;
      position: absolute;
      color: $color-white;
      top: 9rem;
    }

    &__img {
      display: block;
      width: 100%;
      height: 600px;
      object-position: center;
      object-fit: cover;
    }
  }

  .footer-top {
    background-color: $color-footer-bg;
    padding-top: 3rem;
    padding-bottom: 10rem;

    & > .content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      a {
        display: block;
        line-height: 0;
      }
      img {
        height: 5rem;
      }
    }

    &__sub {
      font-weight: $font-bold;
      font-size: 2.65rem;
      color: $color-main;
      text-transform: uppercase;
      margin-bottom: -1rem;
    }

    &__title {
      color: $color-main;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: $font-bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__menu {
      ul {
        list-style: none;
        li:not(:last-child) {
          margin-bottom: 1rem;
        }
        a {
          color: $color-bg;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }

        a:hover {
          color: $color-main;
          text-decoration: underline;
        }
      }
    }

    &__social {
      .social-menu {
        &__link {
          background-color: $color-footer-bg;
          border: 3px solid $color-main;
        }
      }
    }
  }

  .footer-bottom {
    background-color: $color-main;
    color: $color-footer-bg;
    text-align: center;

    padding: 2rem 0;
  }
}
