.packages-boxes {
  padding-top: 4.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .packages-box {
    padding: 3rem;
    border: 3px solid $color-light;
    flex-basis: 100%;

    @include media-queries(atMediumLarge) {
      flex-basis: 33%;
    }

    &__header {
      display: flex;
      border-bottom: 3px solid $color-light;
      padding-bottom: 2rem;
      align-items: center;
    }

    &__icon {
      height: 7rem;
      width: 7rem;
      background-color: $color-bg;
      border-radius: 50%;
      padding: 0.5rem;
      margin-right: 2rem;
      text-align: center;
      & > img {
        height: 100%;
      }
    }
    &__title {
      font-weight: $font-bold;
      font-size: 2rem;
      text-transform: uppercase;
      color: $color-main;
      letter-spacing: 1px;
      line-height: 1;
    }

    &__body {
      list-style: none;
      padding: 3rem;
    }

    &__features {
      font-size: 1.3rem;
      margin-left: 2.5rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &::before {
        content: "\2714";
        color: $color-main;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }

    &__footer {
      border-top: 3px solid $color-light;
      padding-top: 3rem;
      text-align: center;
      font-weight: $font-semi-bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: $color-dark-gray;
    }

    &__price-prev {
      position: relative;
      font-size: 2rem;
      font-weight: $font-medium;
      display: inline-block;

      &::after {
        content: "";
        width: 100%;
        background-color: $color-dark-gray;
        height: 2.5px;
        @include abs-center;
      }
    }

    &__price-now {
      margin-top: 1rem;
    }

    &__price-tag {
      color: $color-main;
      font-size: 4.2rem;
    }

    &--popular {
      background-color: $color-bg;
      transform: scale(1.1);
      position: relative;
      margin-top: 9rem;
      margin-bottom: 7rem;

      @include media-queries(atMediumLarge) {
        margin-top: 0;
        margin-bottom: 0;
      }

      &::before {
        content: "Most Popular";
        position: absolute;
        top: -2.3rem;
        left: 50%;
        transform: translateX(-50%);
        color: $color-bg;
        padding: 0.8rem 4rem;
        background-color: $color-main;
        font-size: 1.3rem;
        @include media-queries(atMediumLarge) {
          font-style: 2rem;
        }
      }

      .packages-box__icon {
        background-color: $color-light;
      }
    }
  }

  &--others {
    @include media-queries(atMediumLarge) {
      margin-top: 10rem;
    }

    .packages-box {
      flex-basis: 100%;
      margin-bottom: 5rem;

      @include media-queries(atMediumLarge) {
        flex-basis: 48.5%;
        margin-bottom: 0rem;
      }

      &__footer {
        text-align: center;
        @include media-queries(atMediumLarge) {
          text-align: right;
        }
      }

      &__price-now {
        margin-top: -1rem;
      }
    }
  }
}

.packages-terms {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
  border: 3px solid $color-gray;
  background-color: $color-light;
  padding: 2rem 3.5rem;
  display: flex;
  align-items: center;

  &__icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid $color-main;
    background-color: $color-bg;
    position: relative;
    display: none;

    @include media-queries(atMediumLarge) {
      display: block;
    }

    span {
      font-size: 3.6rem;
      font-weight: $font-bold;
      color: $color-main;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  ul {
    margin-left: 5%;
    list-style: none;
  }

  &__info {
    color: $color-sub;
    &::before {
      content: "\2794";
      margin-right: 1rem;
      color: $color-main;
    }
    &--strong {
      font-weight: $font-semi-bold;
      color: $color-main;
    }
  }
}
